body {
  margin: 0;

}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgb(22, 100, 40);
  transition: .5s;
}

nav {
  text-align: center;
  padding: 1.5em;
}

nav a {
  padding: 2em;
}

.main-header h1 {
  text-align: center;
}

.home {
  text-align: center;
  padding: 70px 0;
  width: 70%;
  margin: auto;
}

/* Buttons, map, and bookmarks flex container */
.find-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
}

.fruit-trees-nav {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.fruit-trees-nav img {
  height: 80px;
  padding-top: 20px;
  filter: grayscale(100%);
}

.fruit-trees-nav img:hover {
  filter: none;
  transition: 0.2s;
}

.fruit-trees-nav h4 {
  margin-top: 5px;
  margin-bottom: 1em;
}

.fruit-tree {
  margin-bottom: 1em;
}

.map-and-bookmarks {
  flex-grow: 1;
}
/* End of flex container */

.fruit-tree {
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
}

/* Marker & Popups in leaflet map */
.popup-bookmark :hover {
  color: rgb(140, 43, 14)!important;
}
/* End of leaflet map container */

/* Bookmarked Trees List */
.my-trees {
  margin: 0 1em 1em 1em;
}

.my-trees h2 {
  text-align: center;
  margin-top: 0px;
}

.bookmarked-tree {
  display: flex;
  width: 250px;
  margin: 10px;
}

.bookmarked-tree-icon {
  width: 50px;
  height: auto;
  padding: 20px 20px 0 0;
}